version: "3.9"
services:
  db:
    image: postgres:16
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: lift_tracker_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./sql/migrations:/docker-entrypoint-initdb.d
       

  backend:
    build: .
    container_name: my_backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  test:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    command: sh -c "until pg_isready -h db -p 5432 -U postgres; do echo 'waiting for db...'; sleep 2; done; npm test"

volumes:
  pgdata:
